<div class="table-responsive" id="table" style="display:none; margin-top:29px;">
  <table class="table table-hover table-condensed table-striped table-bordered" >
    <thead>
      <tr>
        <th># of</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Lines</th>
        <td id="lines"></td>
      </tr>
      <tr>
        <th scope="row">Words or Units</th>
        <td id="words"></td>
      </tr>
      <tr>
        <th scope="row">Characters</th>
        <td id="chars"></td>
      </tr>
      <tr>
        <th scope="row">Bytes</th>
        <td id="bytes"></td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
